**/node_modules/
**/vendor/
**/.env
**/.env.*
!**/.env.example
**/dist/
**/database/*.sqlite
**/database/*.sqlite-*
**/storage/logs/*
**/.phpunit.result.cache
**/bootstrap/cache/*.php
**/public/hot
**/public/build/
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
**/storage/framework/views/*

.env.postgres
